[Unit]
Description=DjukePreamp service
After=network.target sound.target mpd.service

[Service]
Type=simple
User=volumio
ExecStart=/usr/bin/env python /usr/local/Djuke/DjukePreamp.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
